## Lendo dataset do Titanic

In [1]:
df <- read.csv("https://raw.githubusercontent.com/gazzola/dataset_students/main/titanic_passageiros.csv")

## Visualizando as primeiras linhas do Dataframe

In [2]:
head(df)

  X PassengerId Survived Pclass
1 1 1           0        3
2 2 2           1        1
3 3 3           1        3
4 4 4           1        1
5 5 5           0        3
6 6 6           0        3
  Name                                                Sex    Age SibSp Parch
1 Braund, Mr. Owen Harris                             male   22  1     0
2 Cumings, Mrs. John Bradley (Florence Briggs Thayer) female 38  1     0
3 Heikkinen, Miss. Laina                              female 26  0     0
4 Futrelle, Mrs. Jacques Heath (Lily May Peel)        female 35  1     0
5 Allen, Mr. William Henry                            male   35  0     0
6 Moran, Mr. James                                    male   NA  0     0
  Ticket           Fare    Cabin Embarked
1 A/5 21171         7.2500       S
2 PC 17599         71.2833 C85   C
3 STON/O2. 3101282  7.9250       S
4 113803           53.1000 C123  S
5 373450            8.0500       S
6 330877            8.4583       Q

## Trazendo resumo estatístico sobre o dataset

In [3]:
summary(df)

       X         PassengerId      Survived          Pclass
 Min.   :   1   Min.   :   1   Min.   :0.0000   Min.   :1.000
 1st Qu.: 328   1st Qu.: 328   1st Qu.:0.0000   1st Qu.:2.000
 Median : 655   Median : 655   Median :0.0000   Median :3.000
 Mean   : 655   Mean   : 655   Mean   :0.3838   Mean   :2.295
 3rd Qu.: 982   3rd Qu.: 982   3rd Qu.:1.0000   3rd Qu.:3.000
 Max.   :1309   Max.   :1309   Max.   :1.0000   Max.   :3.000
                               NA's   :418
     Name               Sex                 Age            SibSp
 Length:1309        Length:1309        Min.   : 0.17   Min.   :0.0000
 Class :character   Class :character   1st Qu.:21.00   1st Qu.:0.0000
 Mode  :character   Mode  :character   Median :28.00   Median :0.0000
                                       Mean   :29.88   Mean   :0.4989
                                       3rd Qu.:39.00   3rd Qu.:1.0000
                                       Max.   :80.00   Max.   :8.0000
                                       NA's   :263
     Parch          Ticket               Fare            Cabin
 Min.   :0.000   Length:1309        Min.   :  0.000   Length:1309
 1st Qu.:0.000   Class :character   1st Qu.:  7.896   Class :character
 Median :0.000   Mode  :character   Median : 14.454   Mode  :character
 Mean   :0.385                      Mean   : 33.295
 3rd Qu.:0.000                      3rd Qu.: 31.275
 Max.   :9.000                      Max.   :512.329
                                    NA's   :1
   Embarked
 Length:1309
 Class :character
 Mode  :character

## Trazendo informações sobre a estrutura do Dataframe

In [4]:
str(df)

'data.frame':	1309 obs. of  13 variables:
 $ X          : int  1 2 3 4 5 6 7 8 9 10 ...
 $ PassengerId: int  1 2 3 4 5 6 7 8 9 10 ...
 $ Survived   : int  0 1 1 1 0 0 0 0 1 1 ...
 $ Pclass     : int  3 1 3 1 3 3 1 3 3 2 ...
 $ Name       : chr  "Braund, Mr. Owen Harris" "Cumings, Mrs. John Bradley (Florence Briggs Thayer)" "Heikkinen, Miss. Laina" "Futrelle, Mrs. Jacques Heath (Lily May Peel)" ...
 $ Sex        : chr  "male" "female" "female" "female" ...
 $ Age        : num  22 38 26 35 35 NA 54 2 27 14 ...
 $ SibSp      : int  1 1 0 1 0 0 0 3 0 1 ...
 $ Parch      : int  0 0 0 0 0 0 0 1 2 0 ...
 $ Ticket     : chr  "A/5 21171" "PC 17599" "STON/O2. 3101282" "113803" ...
 $ Fare       : num  7.25 71.28 7.92 53.1 8.05 ...
 $ Cabin      : chr  "" "C85" "" "C123" ...
 $ Embarked   : chr  "S" "C" "S" "S" ...

## Verificando quantidade de valores nulos presentes no dataset

In [6]:
sum(is.na(df))

[1] 682

## Trazendo a quantidade de registros de cada classe, quantas pessoas tem na classe 1, 2 e 3

In [7]:
table(df$Pclass)

  1   2   3
323 277 709

## Retornando a proporção de pessoas que sobreviverem e não sobreviveram de acordo com suas classes de passagens

In [8]:
table(df$Survived, df$Pclass)

      1   2   3
  0  80  97 372
  1 136  87 119

## Somando a quantidade de sobreviventes

In [15]:
sobreviventes <- df$Survived
sum(sobreviventes, na.rm = TRUE)

[1] 342

## Média de idade dos passageiros

In [17]:
media_idade_passageiros <- mean(df$Age, na.rm = TRUE)
round(media_idade_passageiros, 2)

[1] 29.88

## Criando função para calcular variância da idade tendo como parâmetro o sexo

In [23]:
calcula_variancia_idade_sexo <- function(sexo) {
  dados_filtrados <- subset(df, df[["Sex"]] == sexo)
  variancia <- var(dados_filtrados[["Age"]], na.rm = TRUE)
  return(variancia)
}

variancia_male <- calcula_variancia_idade_sexo("male")
variancia_female <- calcula_variancia_idade_sexo("female")

round(variancia_male, 2)
round(variancia_female, 2)

[1] 203.94

[1] 212.49