## Importando bibliotecas

In [103]:
import pandas as pd

## Lendo dataframe

In [104]:
df = pd.read_csv('metadados_filmes.csv')

<ipython-input-104-54294e74a1e9>:1: DtypeWarning: Columns (10) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('metadados_filmes.csv')

In [105]:
df

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45462,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,111109,tt2028550,tl,Siglo ng Pagluluwal,An artist struggles to finish his work while a...,...,2011-11-17,0.0,360.0,"[{'iso_639_1': 'tl', 'name': ''}]",Released,NaN,Century of Birthing,False,9.0,3.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

## Visualizando colunas

In [106]:
df.columns

Index(['adult', 'belongs_to_collection', 'budget', 'genres', 'homepage', 'id',
       'imdb_id', 'original_language', 'original_title', 'overview',
       'popularity', 'poster_path', 'production_companies',
       'production_countries', 'release_date', 'revenue', 'runtime',
       'spoken_languages', 'status', 'tagline', 'title', 'video',
       'vote_average', 'vote_count'],
      dtype='object')

In [107]:
df.describe()

            revenue       runtime  vote_average    vote_count
count  4.546000e+04  45203.000000  45460.000000  45460.000000
mean   1.120935e+07     94.128199      5.618207    109.897338
std    6.433225e+07     38.407810      1.924216    491.310374
min    0.000000e+00      0.000000      0.000000      0.000000
25%    0.000000e+00     85.000000      5.000000      3.000000
50%    0.000000e+00     95.000000      6.000000     10.000000
75%    0.000000e+00    107.000000      6.800000     34.000000
max    2.787965e+09   1256.000000     10.000000  14075.000000

## Calculando quantil passado por usuário para feature vote_count

In [108]:
d = float(input("Digite um valor para o quantil entre 0.0 e 1: "))
m = df['vote_count'].quantile(d)
m

Digite um valor para o quantil entre 0.0 e 1: 0.8

50.0

## Filtragem por duração dos filmes

In [109]:
run_time_select = df[(df['runtime'] >= 45) & (df['runtime'] <= 300)]
run_time_select

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
3,False,NaN,16000000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,31357,tt0114885,en,Waiting to Exhale,"Cheated on, mistreated and stepped on, the wom...",...,1995-12-22,81452156.0,127.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Friends are the people who let you be yourself...,Waiting to Exhale,False,6.1,34.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45460,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,30840,tt0102797,en,Robin Hood,"Yet another version of the classic epic, with ...",...,1991-05-13,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Robin Hood,False,5.7,26.0
45461,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",http://www.imdb.com/title/tt6209470/,439050,tt6209470,fa,رگ خواب,Rising and falling between a man and woman.,...,NaN,0.0,90.0,"[{'iso_639_1': 'fa', 'name': 'فارسی'}]",Released,Rising and falling between a man and woman,Subdue,False,4.0,1.0
45463,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 18, 'nam...",NaN,67758,tt0303758,en,Betrayal,"When one of her hits goes wrong, a professiona...",...,2003-08-01,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A deadly game of wits.,Betrayal,False,3.8,6.0
45464,False,NaN,0,[],NaN,227506,tt0008536,en,Satana likuyushchiy,"In a small town live two brothers, one a minis...",...,1917-10-21,0.0,87.0,[],Released,NaN,Satan Triumphant,False,0.0,0.0
45465,False,NaN,0,[],NaN,461257,tt6980792,en,Queerama,50 years after decriminalisation of homosexual...,...,2017-06-09,0.0,75.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Queerama,False,0.0,0.0

## Filtragem apenas por filmes que receberam mais de m votos

In [110]:
votos_m_select = run_time_select[(run_time_select['vote_count'] >= m)]
votos_m_select

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
0,False,"{'id': 10194, 'name': 'Toy Story Collection', ...",30000000,"[{'id': 16, 'name': 'Animation'}, {'id': 35, '...",http://toystory.disney.com/toy-story,862,tt0114709,en,Toy Story,"Led by Woody, Andy's toys live happily in his ...",...,1995-10-30,373554033.0,81.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Toy Story,False,7.7,5415.0
1,False,NaN,65000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 14, '...",NaN,8844,tt0113497,en,Jumanji,When siblings Judy and Peter discover an encha...,...,1995-12-15,262797249.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Roll the dice and unleash the excitement!,Jumanji,False,6.9,2413.0
2,False,"{'id': 119050, 'name': 'Grumpy Old Men Collect...",0,"[{'id': 10749, 'name': 'Romance'}, {'id': 35, ...",NaN,15602,tt0113228,en,Grumpier Old Men,A family wedding reignites the ancient feud be...,...,1995-12-22,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Still Yelling. Still Fighting. Still Ready for...,Grumpier Old Men,False,6.5,92.0
4,False,"{'id': 96871, 'name': 'Father of the Bride Col...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,11862,tt0113041,en,Father of the Bride Part II,Just when George Banks has recovered from his ...,...,1995-02-10,76578911.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Just When His World Is Back To Normal... He's ...,Father of the Bride Part II,False,5.7,173.0
5,False,NaN,60000000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,949,tt0113277,en,Heat,"Obsessive master thief, Neil McCauley leads a ...",...,1995-12-15,187436818.0,170.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A Los Angeles Crime Saga,Heat,False,7.7,1886.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
45268,False,NaN,5402000,"[{'id': 35, 'name': 'Comedy'}]",NaN,277839,tt4531694,fr,Pattaya,Franky and Krimo dream of leaving the grey gri...,...,2016-02-24,0.0,100.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,"Good Guys Go to Heaven, Bad Guys Go to Pattaya",False,5.3,153.0
45339,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,430365,tt5804948,fr,À bras ouverts,Jean-Étienne Fougerole is an intellectual bohe...,...,2017-04-05,0.0,92.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Thanks for the invitation!,With Open Arms,False,5.2,94.0
45343,False,"{'id': 52888, 'name': 'The Visitors Collection...",25868826,"[{'id': 35, 'name': 'Comedy'}]",NaN,248705,tt2441982,fr,Les Visiteurs: La Révolution,"Stuck in the corridors of time, Godefroy de Mo...",...,2016-03-23,0.0,110.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,The Visitors: Bastille Day,False,4.0,167.0
45348,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,44918,tt1640571,en,Titanic II,On the 100th anniversary of the original voyag...,...,2010-08-07,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"100 years later, lightning strikes twice",Titanic 2,False,3.4,55.0
45441,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,14008,tt0294425,en,Cadet Kelly,Hyperactive teenager Kelly is enrolled into a ...,...,2002-03-07,0.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Too Cool For The Rules!,Cadet Kelly,False,5.2,145.0

## Validando Shape

In [111]:
votos_m_select.shape

(8963, 24)

## Calculando média de vote_average e atribuindo a C

In [112]:
C = df['vote_average'].mean()
C

5.618207215134185

## Criando função de classificação ponderada

In [114]:
def classificacao_ponderada(x, m=m, C=C):
  v = x['vote_count']
  R = x['vote_average']
  return (v/(v+m) * R) + (m/(m+v) * C)

## Cálculo da pontuação e adição da coluna 'score

In [115]:
votos_m_select['score'] = votos_m_select.apply(classificacao_ponderada, axis=1)
votos_m_select['score']

<ipython-input-115-a7bcdbe8cae3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  votos_m_select['score'] = votos_m_select.apply(classificacao_ponderada, axis=1)

0        7.680953
1        6.873979
2        6.189510
4        5.681661
5        7.646235
           ...
45268    5.378376
45339    5.345211
45343    4.372859
45348    4.456289
45441    5.307233
Name: score, Length: 8963, dtype: float64

## Ordenando dataframe de forma decrescente com base na feature score

In [116]:
df_ordenado_decrescente = votos_m_select.sort_values(by='score', ascending=False)
df_ordenado_decrescente

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,score
10309,False,NaN,13200000,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,19404,tt0112870,hi,Dilwale Dulhania Le Jayenge,"Raj is a rich, carefree, happy-go-lucky second...",...,1.000000e+08,190.0,"[{'iso_639_1': 'hi', 'name': 'हिन्दी'}]",Released,Come... Fall In Love,Dilwale Dulhania Le Jayenge,False,9.1,661.0,8.855148
314,False,NaN,25000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,278,tt0111161,en,The Shawshank Redemption,Framed in the 1940s for the double murder of h...,...,2.834147e+07,142.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Fear can hold you prisoner. Hope can set you f...,The Shawshank Redemption,False,8.5,8358.0,8.482863
834,False,"{'id': 230, 'name': 'The Godfather Collection'...",6000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",http://www.thegodfather.com/,238,tt0068646,en,The Godfather,"Spanning the years 1945 to 1955, a chronicle o...",...,2.450664e+08,175.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,An offer you can't refuse.,The Godfather,False,8.5,6024.0,8.476278
40251,False,NaN,0,"[{'id': 10749, 'name': 'Romance'}, {'id': 16, ...",https://www.funimationfilms.com/movie/yourname/,372058,tt5311514,ja,君の名は。,High schoolers Mitsuha and Taki are complete s...,...,3.552983e+08,106.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Your Name.,False,8.5,1030.0,8.366584
12481,False,"{'id': 263, 'name': 'The Dark Knight Collectio...",185000000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",http://thedarkknight.warnerbros.com/dvdsite/,155,tt0468569,en,The Dark Knight,Batman raises the stakes in his war on crime. ...,...,1.004558e+09,152.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Why So Serious?,The Dark Knight,False,8.3,12269.0,8.289115
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
17708,False,"{'id': 225961, 'name': 'Birdemic Collection', ...",0,"[{'id': 27, 'name': 'Horror'}, {'id': 878, 'na...",http://www.birdemic.com/,40016,tt1316037,en,Birdemic: Shock and Terror,A platoon of eagles and vultures attacks the r...,...,0.000000e+00,95.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Why did the eagles and vultures attack?,Birdemic: Shock and Terror,False,2.1,69.0,3.578238
12911,False,NaN,25000000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",http://www.disastermovie.net/,13805,tt1213644,en,Disaster Movie,"In DISASTER MOVIE, the filmmaking team behind ...",...,1.410928e+07,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Your favorite movies are going to be destroyed.,Disaster Movie,False,3.1,250.0,3.519701
11557,False,NaN,20000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,9760,tt0799949,en,Epic Movie,"When Edward, Peter, Lucy and Susan each follow...",...,8.686556e+07,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,We know it's big. We measured.,Epic Movie,False,3.2,334.0,3.514871
3471,False,NaN,44000000,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,5491,tt0185183,en,Battlefield Earth,"In the year 3000, man is no match for the Psyc...",...,2.140000e+07,118.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Take Back The Planet,Battlefield Earth,False,3.0,259.0,3.423658
13566,False,NaN,100000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,14164,tt1098327,en,Dragonball Evolution,The young warrior Son Goku sets out on a quest...,...,0.000000e+00,85.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The legend comes to life.,Dragonball Evolution,False,2.9,475.0,3.158877

## Listando os 25 melhores filmes

In [117]:
top_25_filmes = df_ordenado_decrescente[['title', 'vote_count', 'vote_average', 'score', 'runtime']].head(25)
top_25_filmes

,title,vote_count,vote_average,score,runtime
10309,Dilwale Dulhania Le Jayenge,661.0,9.1,8.855148,190.0
314,The Shawshank Redemption,8358.0,8.5,8.482863,142.0
834,The Godfather,6024.0,8.5,8.476278,175.0
40251,Your Name.,1030.0,8.5,8.366584,106.0
12481,The Dark Knight,12269.0,8.3,8.289115,152.0
2843,Fight Club,9678.0,8.3,8.286216,139.0
292,Pulp Fiction,8670.0,8.3,8.284623,154.0
522,Schindler's List,4436.0,8.3,8.270109,195.0
23673,Whiplash,4376.0,8.3,8.269704,105.0
5481,Spirited Away,3968.0,8.3,8.266628,125.0
2211,Life Is Beautiful,3643.0,8.3,8.263691,116.0
1178,The Godfather: Part II,3418.0,8.3,8.261335,200.0
1152,One Flew Over the Cuckoo's Nest,3001.0,8.3,8.256051,133.0
1176,Psycho,2405.0,8.3,8.245381,109.0
351,Forrest Gump,8147.0,8.2,8.184252,142.0
1184,Once Upon a Time in America,1104.0,8.3,8.183804,229.0
1154,The Empire Strikes Back,5998.0,8.2,8.178656,124.0
18465,The Intouchables,5410.0,8.2,8.176357,112.0
289,Leon: The Professional,4293.0,8.2,8.170276,110.0
3030,The Green Mile,4166.0,8.2,8.169381,189.0
1170,GoodFellas,3211.0,8.2,8.160414,145.0
2216,American History X,3120.0,8.2,8.159278,119.0
1161,12 Angry Men,2130.0,8.2,8.140785,96.0
9698,Howl's Moving Castle,2049.0,8.2,8.138499,119.0
2884,Princess Mononoke,2041.0,8.2,8.138264,134.0

## Refazendo experimento com amostra aleatória passada pelo usuário

In [118]:
N = int(input("Digite um valor N para definir amostra aleatória: "))
amostra_aleatoria = df.sample(n=N)
amostra_aleatoria

Digite um valor N para definir amostra aleatória: 150

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
7596,False,NaN,250000,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,25853,tt0285728,en,Dahmer,"On February 15, 1992 in Milwaukee, Wisconsin, ...",...,2002-06-21,144008.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The mind is a place of its own.,Dahmer,False,5.2,56.0
18333,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",http://www.pariahthemovie.com/,73939,tt1233334,en,Pariah,A Brooklyn teenager juggles conflicting identi...,...,2011-12-27,0.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Who do you become when you can't be yourself?,Pariah,False,7.0,33.0
16682,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",http://www.hbo.com/films/elizabeth,11788,tt0465326,en,Elizabeth I,HBO miniseries about the the public and privat...,...,2005-09-29,0.0,223.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Elizabeth I,False,7.1,26.0
31014,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,328448,tt3593666,en,Dial a Prayer,A troubled young woman working at a prayer cal...,...,2015-01-01,0.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dial a Prayer,False,5.6,15.0
10140,False,NaN,400000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,2994,tt0062861,it,Diabolik,One of the great comic book movies of all time...,...,1968-01-23,0.0,100.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,"Out for all he can take, seduce, or get away w...",Danger: Diabolik,False,6.1,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32734,False,"{'id': 421566, 'name': 'Totò Collection', 'pos...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,60061,tt0042780,it,Napoli milionaria,A combination of a satire on war and a comedy ...,...,1951-04-17,0.0,84.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,Side Street Story,False,7.3,6.0
30544,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 10749,...",NaN,335676,tt3416042,en,Aurora,In 2020 super-computer Kronos concludes that h...,...,2016-06-10,0.0,107.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,NaN,Aurora,False,4.5,3.0
4651,False,"{'id': 122947, 'name': 'Omega Code Series', 'p...",0,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,30379,tt0263728,en,Megiddo: The Omega Code 2,Stone (the Antichrist) becomes President of th...,...,2001-09-07,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In The Beginning, The End Had A Name.",Megiddo: The Omega Code 2,False,3.6,8.0
23655,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 28, 'nam...",NaN,118887,tt0079966,en,Sunburn,An enthralling &amp; action-packed comedy-thri...,...,1979-08-10,0.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A private dick. A classy chick. An old guy nam...,Sunburn,False,6.0,4.0
1556,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,18355,tt0118647,en,The Assignment,Jack Shaw (DONALD SUTHERLAND) has experienced ...,...,1997-09-28,0.0,119.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,The Assignment,False,6.6,41.0

In [119]:
d = float(input("Digite um valor para o quantil entre 0.0 e 1: "))
m = amostra_aleatoria['vote_count'].quantile(d)
m

Digite um valor para o quantil entre 0.0 e 1: 0.75

26.0

In [120]:
run_time_select = amostra_aleatoria[(amostra_aleatoria['runtime'] >= 45) & (amostra_aleatoria['runtime'] <= 300)]
run_time_select

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
7596,False,NaN,250000,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,25853,tt0285728,en,Dahmer,"On February 15, 1992 in Milwaukee, Wisconsin, ...",...,2002-06-21,144008.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The mind is a place of its own.,Dahmer,False,5.2,56.0
18333,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",http://www.pariahthemovie.com/,73939,tt1233334,en,Pariah,A Brooklyn teenager juggles conflicting identi...,...,2011-12-27,0.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Who do you become when you can't be yourself?,Pariah,False,7.0,33.0
16682,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",http://www.hbo.com/films/elizabeth,11788,tt0465326,en,Elizabeth I,HBO miniseries about the the public and privat...,...,2005-09-29,0.0,223.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Elizabeth I,False,7.1,26.0
31014,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,328448,tt3593666,en,Dial a Prayer,A troubled young woman working at a prayer cal...,...,2015-01-01,0.0,98.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Dial a Prayer,False,5.6,15.0
10140,False,NaN,400000,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,2994,tt0062861,it,Diabolik,One of the great comic book movies of all time...,...,1968-01-23,0.0,100.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,"Out for all he can take, seduce, or get away w...",Danger: Diabolik,False,6.1,23.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32734,False,"{'id': 421566, 'name': 'Totò Collection', 'pos...",0,"[{'id': 35, 'name': 'Comedy'}]",NaN,60061,tt0042780,it,Napoli milionaria,A combination of a satire on war and a comedy ...,...,1951-04-17,0.0,84.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}]",Released,NaN,Side Street Story,False,7.3,6.0
30544,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 10749,...",NaN,335676,tt3416042,en,Aurora,In 2020 super-computer Kronos concludes that h...,...,2016-06-10,0.0,107.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Post Production,NaN,Aurora,False,4.5,3.0
4651,False,"{'id': 122947, 'name': 'Omega Code Series', 'p...",0,"[{'id': 28, 'name': 'Action'}, {'id': 878, 'na...",NaN,30379,tt0263728,en,Megiddo: The Omega Code 2,Stone (the Antichrist) becomes President of th...,...,2001-09-07,0.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In The Beginning, The End Had A Name.",Megiddo: The Omega Code 2,False,3.6,8.0
23655,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 28, 'nam...",NaN,118887,tt0079966,en,Sunburn,An enthralling &amp; action-packed comedy-thri...,...,1979-08-10,0.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,A private dick. A classy chick. An old guy nam...,Sunburn,False,6.0,4.0
1556,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,18355,tt0118647,en,The Assignment,Jack Shaw (DONALD SUTHERLAND) has experienced ...,...,1997-09-28,0.0,119.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,The Assignment,False,6.6,41.0

In [121]:
votos_m_select = run_time_select[(run_time_select['vote_count'] >= m)]
votos_m_select

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,release_date,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count
7596,False,NaN,250000,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,25853,tt0285728,en,Dahmer,"On February 15, 1992 in Milwaukee, Wisconsin, ...",...,2002-06-21,144008.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The mind is a place of its own.,Dahmer,False,5.2,56.0
18333,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",http://www.pariahthemovie.com/,73939,tt1233334,en,Pariah,A Brooklyn teenager juggles conflicting identi...,...,2011-12-27,0.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Who do you become when you can't be yourself?,Pariah,False,7.0,33.0
16682,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",http://www.hbo.com/films/elizabeth,11788,tt0465326,en,Elizabeth I,HBO miniseries about the the public and privat...,...,2005-09-29,0.0,223.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Elizabeth I,False,7.1,26.0
38796,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",http://www.magnetreleasing.com/theeyesofmymother/,371560,tt5225338,en,The Eyes of My Mother,"A young, lonely woman is consumed by her deepe...",...,2016-12-02,0.0,76.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Eyes of My Mother,False,6.1,93.0
5491,False,NaN,15300000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,2110,tt0281364,fr,Wasabi,Hubert is a French policeman with very sharp m...,...,2001-10-31,0.0,94.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,For those who take their action raw.,Wasabi,False,6.2,288.0
6719,False,NaN,5000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,4997,tt0335563,en,Wonderland,"On the afternoon of July 1, 1981, Los Angeles ...",...,2003-10-23,2466444.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Sex, drugs, murder. Welcome to L.A.",Wonderland,False,6.2,73.0
2843,False,NaN,63000000,"[{'id': 18, 'name': 'Drama'}]",http://www.foxmovies.com/movies/fight-club,550,tt0137523,en,Fight Club,A ticking-time-bomb insomniac and a slippery s...,...,1999-10-15,100853753.0,139.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Mischief. Mayhem. Soap.,Fight Club,False,8.3,9678.0
10971,False,NaN,160000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www2.warnerbros.com/poseidon/,503,tt0409182,en,Poseidon,A packed cruise ship traveling the Atlantic is...,...,2006-05-12,181674817.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Mayday,Poseidon,False,5.5,594.0
33329,False,NaN,1500000,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",http://junkfilm.com/,301228,tt1957938,en,Narcopolis,"In the near future, Frank, a police officer, d...",...,2015-09-25,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The future is a fix.,Narcopolis,False,4.8,34.0
22630,False,NaN,950000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.filmbreak.com/projects/banshee-chapter,207769,tt2011276,en,Banshee Chapter,On the trail of a missing friend who had been ...,...,2013-08-26,0.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The experiments are over, the terror has just ...",Banshee Chapter,False,5.7,93.0
2714,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,37718,tt0164108,en,The Muse,What happens when a screenwriter (Brooks) lose...,...,1999-08-27,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In Goddess we trust.,The Muse,False,5.3,31.0
6648,False,NaN,30000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,10337,tt0101516,en,Bugsy,New York gangster Ben 'Bugsy' Siegel takes a b...,...,1991-12-10,49114016.0,134.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Glamour was the disguise.,Bugsy,False,6.0,83.0
2767,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,24071,tt0140397,en,Mumford,"In the small town of Mumford, a psychologist o...",...,1999-09-24,0.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some towns have all the fun.,Mumford,False,6.3,27.0
17976,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,70009,tt1738387,en,The River Murders,The sins of the past are not forgotten in this...,...,2011-06-30,0.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The River Murders,False,5.1,27.0
5388,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,11484,tt0073631,en,Rollerball,"In a corporate-controlled future, an ultra-vio...",...,1975-06-25,30000000.0,125.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In the not-too-distant future, wars will no lo...",Rollerball,False,6.0,115.0
24982,False,NaN,15000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.focusfeatures.com/the_theory_of_eve...,266856,tt2980516,en,The Theory of Everything,The Theory of Everything is the extraordinary ...,...,2014-11-26,123726688.0,123.0,"[{'iso_639_1': 'la', 'name': 'Latin'}, {'iso_6...",Released,His Mind Changed Our World. Her Love Changed His.,The Theory of Everything,False,7.8,3403.0
8969,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,22423,tt0101984,en,Guilty by Suspicion,This compelling story vividly recreates Hollyw...,...,1991-03-15,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All it took was a whisper.,Guilty by Suspicion,False,5.9,29.0
5130,False,NaN,26000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,15028,tt0157472,en,Clockstoppers,"Until now, Zak Gibbs' greatest challenge has b...",...,2002-03-17,38793283.0,94.0,"[{'iso_639_1': 'cs', 'name': 'Český'}, {'iso_6...",Released,"The adventure of a lifetime, in a few mere sec...",Clockstoppers,False,4.9,89.0
10375,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,9074,tt0399327,en,The Man,Special Agent Derrick Vann is a man out to get...,...,2005-09-08,12382362.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One guy walks the walk. The other talks and ta...,The Man,False,5.4,137.0
2405,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,14742,tt0084412,en,Night Shift,A nebbish of a morgue attendant gets shunted b...,...,1982-07-30,21095683.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Ever since two enterprising young men turned t...,Night Shift,False,5.9,46.0
1338,False,"{'id': 2366, 'name': 'The Jaws Collection', 'p...",7000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.jaws25.com/,578,tt0073195,en,Jaws,An insatiable great white shark terrorizes the...,...,1975-06-18,470654000.0,124.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Don't go in the water.,Jaws,False,7.5,2628.0
24202,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}]",http://www.whoami-film.de/,284427,tt3042408,de,Who Am I - Kein System ist sicher,"Benjamin, a young German computer whiz, is inv...",...,2014-09-25,0.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No system is safe.,Who Am I,False,7.6,430.0
25559,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,261820,tt2437548,en,Goodbye to All That,"Otto Wall is just a little unlucky in life, an...",...,2014-12-17,0.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A modern divorce story.,Goodbye to All That,False,5.0,27.0
11792,False,"{'id': 254636, 'name': 'Maniac Cop Collection'...",1100000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,14240,tt0095583,en,Maniac Cop,"In New York, people are slain and strangled to...",...,1988-05-13,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You have the right to remain silent. Forever.,Maniac Cop,False,5.7,87.0
22012,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 36,...",NaN,159151,tt2492916,en,Muscle Shoals,In a tiny Alabama town with the curious name o...,...,2013-09-27,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The incredible true story of a small town with...,Muscle Shoals,False,7.2,26.0
19204,False,"{'id': 105995, 'name': 'Anaconda Collection', ...",0,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",NaN,14863,tt1137996,en,Anaconda 3: Offspring,Cancer-terminal tycoon Peter Murdoch's secret ...,...,2008-01-01,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They Can Taste Your Fear,Anaconda 3: Offspring,False,4.0,48.0
32496,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,26189,tt0282521,en,Get a Clue,A rich kid and her friends investigate the dis...,...,2002-01-01,0.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Get a Clue,False,4.9,59.0
7167,False,"{'id': 86058, 'name': 'Dirty Dancing Collectio...",25000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,10677,tt0338096,en,Dirty Dancing: Havana Nights,"In pre-revolution Cuba, Katey Miller is about ...",...,2004-02-27,27685016.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Break the rules. Find your freedom. Live your ...,Dirty Dancing: Havana Nights,False,6.0,154.0
42293,False,NaN,1500000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,414190,tt3171832,en,iBoy,"After an accident, Tom wakes from a coma to di...",...,2017-01-27,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,His powers are his curse,iBoy,False,6.0,315.0
14483,False,NaN,20000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,36272,tt0377100,en,Out of Reach,"Vietnam veteran Billy Ray Lancing, a former CS...",...,2004-01-01,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It's a split second between hit or miss.,Out of Reach,False,4.0,30.0
3147,False,NaN,4500000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,11782,tt0104684,cn,辣手神探,A cop who loses his partner in a shoot-out wit...,...,1992-04-16,0.0,126.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,"As a cop, he has brains, brawn, and an instinc...",Hard Boiled,False,7.4,169.0
9415,False,"{'id': 11794, 'name': 'Ginger Snaps Collection...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,10361,tt0353489,fr,Ginger Snaps 2: Unleashed,Brigitte has escaped the confines of Bailey Do...,...,2004-01-30,0.0,94.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}, {'is...",Released,It only dies if you do.,Ginger Snaps 2: Unleashed,False,6.2,72.0
12750,False,NaN,0,"[{'id': 37, 'name': 'Western'}]",NaN,40630,tt0057940,en,Cheyenne Autumn,A reluctant cavalry Captain must track a defia...,...,1964-10-03,0.0,154.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"1,500 miles of heroism and incredible adventure!",Cheyenne Autumn,False,5.6,26.0
4975,False,NaN,12000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,17130,tt0275022,en,Crossroads,Three friends get together and bury a box maki...,...,2002-02-15,61141030.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Dreams change. Friends are forever,Crossroads,False,4.7,161.0
8843,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,13189,tt0087056,en,A Christmas Carol,An old bitter miser who makes excuses for his ...,...,1984-12-17,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A new powerful presentation of the most loved ...,A Christmas Carol,False,7.1,42.0
31680,False,"{'id': 353325, 'name': 'Joe Dirt Collection', ...",0,"[{'id': 35, 'name': 'Comedy'}]",http://www.crackle.com/c/joe-dirt-2-beautiful-...,335970,tt4126340,en,Joe Dirt 2: Beautiful Loser,When happy family man Joe Dirt finds himself t...,...,2015-07-16,0.0,107.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Go Hick Yourself,Joe Dirt 2: Beautiful Loser,False,4.3,45.0
32397,False,"{'id': 212166, 'name': 'Puella Magi Madoka Mag...",0,"[{'id': 53, 'name': 'Thriller'}, {'id': 16, 'n...",NaN,152042,tt2205948,ja,劇場版 魔法少女まどか☆マギカ [前編] 始まりの物語,"Madoka Kaname, an ordinary middle-schooler, al...",...,2012-10-05,0.0,131.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Puella Magi Madoka Magica the Movie Part I: Be...,False,7.8,31.0
28527,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,228203,tt2097298,en,"McFarland, USA",A track coach in a small California town trans...,...,2015-02-20,45710059.0,128.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Champions Can Come From Anywhere.,"McFarland, USA",False,7.4,216.0
1556,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,18355,tt0118647,en,The Assignment,Jack Shaw (DONALD SUTHERLAND) has experienced ...,...,1997-09-28,0.0,119.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,The Assignment,False,6.6,41.0

In [122]:
votos_m_select.shape

(39, 24)

In [123]:
C = df['vote_average'].mean()
C

5.618207215134185

In [124]:
votos_m_select['score'] = votos_m_select.apply(classificacao_ponderada, axis=1)
votos_m_select['score']

<ipython-input-124-a7bcdbe8cae3>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  votos_m_select['score'] = votos_m_select.apply(classificacao_ponderada, axis=1)

7596     5.397268
18333    6.167595
16682    6.125136
38796    5.931541
5491     6.113936
6719     5.963499
2843     8.286216
10971    5.509178
33329    5.287028
22630    5.671401
2714     5.496424
6648     5.856469
2767     5.857277
17976    5.436498
5388     5.884305
24982    7.768407
8969     5.721650
5130     5.158348
10375    5.458344
2405     5.753233
1338     7.464866
24202    7.393563
25559    5.401433
11792    5.670149
22012    6.159347
19204    4.825616
32496    5.229453
7167     5.906423
42293    5.947700
14483    5.011380
3147     6.993198
9415     5.961560
12750    5.611978
4975     4.917585
8843     6.294678
31680    4.993793
32397    6.453214
28527    7.065077
1556     6.060553
Name: score, dtype: float64

In [125]:
df_ordenado_decrescente = votos_m_select.sort_values(by='score', ascending=False)
df_ordenado_decrescente

,adult,belongs_to_collection,budget,genres,homepage,id,imdb_id,original_language,original_title,overview,...,revenue,runtime,spoken_languages,status,tagline,title,video,vote_average,vote_count,score
2843,False,NaN,63000000,"[{'id': 18, 'name': 'Drama'}]",http://www.foxmovies.com/movies/fight-club,550,tt0137523,en,Fight Club,A ticking-time-bomb insomniac and a slippery s...,...,100853753.0,139.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Mischief. Mayhem. Soap.,Fight Club,False,8.3,9678.0,8.286216
24982,False,NaN,15000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",http://www.focusfeatures.com/the_theory_of_eve...,266856,tt2980516,en,The Theory of Everything,The Theory of Everything is the extraordinary ...,...,123726688.0,123.0,"[{'iso_639_1': 'la', 'name': 'Latin'}, {'iso_6...",Released,His Mind Changed Our World. Her Love Changed His.,The Theory of Everything,False,7.8,3403.0,7.768407
1338,False,"{'id': 2366, 'name': 'The Jaws Collection', 'p...",7000000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.jaws25.com/,578,tt0073195,en,Jaws,An insatiable great white shark terrorizes the...,...,470654000.0,124.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Don't go in the water.,Jaws,False,7.5,2628.0,7.464866
24202,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}]",http://www.whoami-film.de/,284427,tt3042408,de,Who Am I - Kein System ist sicher,"Benjamin, a young German computer whiz, is inv...",...,0.0,105.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,No system is safe.,Who Am I,False,7.6,430.0,7.393563
28527,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",NaN,228203,tt2097298,en,"McFarland, USA",A track coach in a small California town trans...,...,45710059.0,128.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Champions Can Come From Anywhere.,"McFarland, USA",False,7.4,216.0,7.065077
3147,False,NaN,4500000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,11782,tt0104684,cn,辣手神探,A cop who loses his partner in a shoot-out wit...,...,0.0,126.0,"[{'iso_639_1': 'cn', 'name': '广州话 / 廣州話'}, {'i...",Released,"As a cop, he has brains, brawn, and an instinc...",Hard Boiled,False,7.4,169.0,6.993198
32397,False,"{'id': 212166, 'name': 'Puella Magi Madoka Mag...",0,"[{'id': 53, 'name': 'Thriller'}, {'id': 16, 'n...",NaN,152042,tt2205948,ja,劇場版 魔法少女まどか☆マギカ [前編] 始まりの物語,"Madoka Kaname, an ordinary middle-schooler, al...",...,0.0,131.0,"[{'iso_639_1': 'ja', 'name': '日本語'}]",Released,NaN,Puella Magi Madoka Magica the Movie Part I: Be...,False,7.8,31.0,6.453214
8843,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 10751, 'n...",NaN,13189,tt0087056,en,A Christmas Carol,An old bitter miser who makes excuses for his ...,...,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A new powerful presentation of the most loved ...,A Christmas Carol,False,7.1,42.0,6.294678
18333,False,NaN,0,"[{'id': 18, 'name': 'Drama'}]",http://www.pariahthemovie.com/,73939,tt1233334,en,Pariah,A Brooklyn teenager juggles conflicting identi...,...,0.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Who do you become when you can't be yourself?,Pariah,False,7.0,33.0,6.167595
22012,False,NaN,0,"[{'id': 99, 'name': 'Documentary'}, {'id': 36,...",NaN,159151,tt2492916,en,Muscle Shoals,In a tiny Alabama town with the curious name o...,...,0.0,111.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The incredible true story of a small town with...,Muscle Shoals,False,7.2,26.0,6.159347
16682,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 36, 'name...",http://www.hbo.com/films/elizabeth,11788,tt0465326,en,Elizabeth I,HBO miniseries about the the public and privat...,...,0.0,223.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Elizabeth I,False,7.1,26.0,6.125136
5491,False,NaN,15300000,"[{'id': 18, 'name': 'Drama'}, {'id': 28, 'name...",NaN,2110,tt0281364,fr,Wasabi,Hubert is a French policeman with very sharp m...,...,0.0,94.0,"[{'iso_639_1': 'fr', 'name': 'Français'}, {'is...",Released,For those who take their action raw.,Wasabi,False,6.2,288.0,6.113936
1556,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,18355,tt0118647,en,The Assignment,Jack Shaw (DONALD SUTHERLAND) has experienced ...,...,0.0,119.0,"[{'iso_639_1': 'fr', 'name': 'Français'}]",Released,NaN,The Assignment,False,6.6,41.0,6.060553
6719,False,NaN,5000000,"[{'id': 80, 'name': 'Crime'}, {'id': 18, 'name...",NaN,4997,tt0335563,en,Wonderland,"On the afternoon of July 1, 1981, Los Angeles ...",...,2466444.0,104.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"Sex, drugs, murder. Welcome to L.A.",Wonderland,False,6.2,73.0,5.963499
9415,False,"{'id': 11794, 'name': 'Ginger Snaps Collection...",0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,10361,tt0353489,fr,Ginger Snaps 2: Unleashed,Brigitte has escaped the confines of Bailey Do...,...,0.0,94.0,"[{'iso_639_1': 'it', 'name': 'Italiano'}, {'is...",Released,It only dies if you do.,Ginger Snaps 2: Unleashed,False,6.2,72.0,5.961560
42293,False,NaN,1500000,"[{'id': 28, 'name': 'Action'}, {'id': 80, 'nam...",NaN,414190,tt3171832,en,iBoy,"After an accident, Tom wakes from a coma to di...",...,0.0,90.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,His powers are his curse,iBoy,False,6.0,315.0,5.947700
38796,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",http://www.magnetreleasing.com/theeyesofmymother/,371560,tt5225338,en,The Eyes of My Mother,"A young, lonely woman is consumed by her deepe...",...,0.0,76.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,NaN,The Eyes of My Mother,False,6.1,93.0,5.931541
7167,False,"{'id': 86058, 'name': 'Dirty Dancing Collectio...",25000000,"[{'id': 18, 'name': 'Drama'}, {'id': 10749, 'n...",NaN,10677,tt0338096,en,Dirty Dancing: Havana Nights,"In pre-revolution Cuba, Katey Miller is about ...",...,27685016.0,86.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Break the rules. Find your freedom. Live your ...,Dirty Dancing: Havana Nights,False,6.0,154.0,5.906423
5388,False,NaN,0,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",NaN,11484,tt0073631,en,Rollerball,"In a corporate-controlled future, an ultra-vio...",...,30000000.0,125.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"In the not-too-distant future, wars will no lo...",Rollerball,False,6.0,115.0,5.884305
2767,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 18, 'nam...",NaN,24071,tt0140397,en,Mumford,"In the small town of Mumford, a psychologist o...",...,0.0,112.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Some towns have all the fun.,Mumford,False,6.3,27.0,5.857277
6648,False,NaN,30000000,"[{'id': 18, 'name': 'Drama'}, {'id': 80, 'name...",NaN,10337,tt0101516,en,Bugsy,New York gangster Ben 'Bugsy' Siegel takes a b...,...,49114016.0,134.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Glamour was the disguise.,Bugsy,False,6.0,83.0,5.856469
2405,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,14742,tt0084412,en,Night Shift,A nebbish of a morgue attendant gets shunted b...,...,21095683.0,106.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Ever since two enterprising young men turned t...,Night Shift,False,5.9,46.0,5.753233
8969,False,NaN,0,"[{'id': 18, 'name': 'Drama'}, {'id': 53, 'name...",NaN,22423,tt0101984,en,Guilty by Suspicion,This compelling story vividly recreates Hollyw...,...,0.0,100.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,All it took was a whisper.,Guilty by Suspicion,False,5.9,29.0,5.721650
22630,False,NaN,950000,"[{'id': 27, 'name': 'Horror'}, {'id': 53, 'nam...",http://www.filmbreak.com/projects/banshee-chapter,207769,tt2011276,en,Banshee Chapter,On the trail of a missing friend who had been ...,...,0.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"The experiments are over, the terror has just ...",Banshee Chapter,False,5.7,93.0,5.671401
11792,False,"{'id': 254636, 'name': 'Maniac Cop Collection'...",1100000,"[{'id': 53, 'name': 'Thriller'}, {'id': 28, 'n...",NaN,14240,tt0095583,en,Maniac Cop,"In New York, people are slain and strangled to...",...,0.0,85.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,You have the right to remain silent. Forever.,Maniac Cop,False,5.7,87.0,5.670149
12750,False,NaN,0,"[{'id': 37, 'name': 'Western'}]",NaN,40630,tt0057940,en,Cheyenne Autumn,A reluctant cavalry Captain must track a defia...,...,0.0,154.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,"1,500 miles of heroism and incredible adventure!",Cheyenne Autumn,False,5.6,26.0,5.611978
10971,False,NaN,160000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 28, '...",http://www2.warnerbros.com/poseidon/,503,tt0409182,en,Poseidon,A packed cruise ship traveling the Atlantic is...,...,181674817.0,99.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,Mayday,Poseidon,False,5.5,594.0,5.509178
2714,False,NaN,0,"[{'id': 14, 'name': 'Fantasy'}, {'id': 35, 'na...",NaN,37718,tt0164108,en,The Muse,What happens when a screenwriter (Brooks) lose...,...,0.0,97.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,In Goddess we trust.,The Muse,False,5.3,31.0,5.496424
10375,False,NaN,0,"[{'id': 28, 'name': 'Action'}, {'id': 35, 'nam...",NaN,9074,tt0399327,en,The Man,Special Agent Derrick Vann is a man out to get...,...,12382362.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,One guy walks the walk. The other talks and ta...,The Man,False,5.4,137.0,5.458344
17976,False,NaN,0,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",NaN,70009,tt1738387,en,The River Murders,The sins of the past are not forgotten in this...,...,0.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,The River Murders,False,5.1,27.0,5.436498
25559,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}]",NaN,261820,tt2437548,en,Goodbye to All That,"Otto Wall is just a little unlucky in life, an...",...,0.0,87.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,A modern divorce story.,Goodbye to All That,False,5.0,27.0,5.401433
7596,False,NaN,250000,"[{'id': 18, 'name': 'Drama'}, {'id': 27, 'name...",NaN,25853,tt0285728,en,Dahmer,"On February 15, 1992 in Milwaukee, Wisconsin, ...",...,144008.0,101.0,"[{'iso_639_1': 'en', 'name': 'English'}, {'iso...",Released,The mind is a place of its own.,Dahmer,False,5.2,56.0,5.397268
33329,False,NaN,1500000,"[{'id': 53, 'name': 'Thriller'}, {'id': 9648, ...",http://junkfilm.com/,301228,tt1957938,en,Narcopolis,"In the near future, Frank, a police officer, d...",...,0.0,96.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,The future is a fix.,Narcopolis,False,4.8,34.0,5.287028
32496,False,NaN,0,"[{'id': 35, 'name': 'Comedy'}, {'id': 10751, '...",NaN,26189,tt0282521,en,Get a Clue,A rich kid and her friends investigate the dis...,...,0.0,83.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,NaN,Get a Clue,False,4.9,59.0,5.229453
5130,False,NaN,26000000,"[{'id': 12, 'name': 'Adventure'}, {'id': 10751...",NaN,15028,tt0157472,en,Clockstoppers,"Until now, Zak Gibbs' greatest challenge has b...",...,38793283.0,94.0,"[{'iso_639_1': 'cs', 'name': 'Český'}, {'iso_6...",Released,"The adventure of a lifetime, in a few mere sec...",Clockstoppers,False,4.9,89.0,5.158348
14483,False,NaN,20000000,"[{'id': 28, 'name': 'Action'}, {'id': 53, 'nam...",NaN,36272,tt0377100,en,Out of Reach,"Vietnam veteran Billy Ray Lancing, a former CS...",...,0.0,88.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,It's a split second between hit or miss.,Out of Reach,False,4.0,30.0,5.011380
31680,False,"{'id': 353325, 'name': 'Joe Dirt Collection', ...",0,"[{'id': 35, 'name': 'Comedy'}]",http://www.crackle.com/c/joe-dirt-2-beautiful-...,335970,tt4126340,en,Joe Dirt 2: Beautiful Loser,When happy family man Joe Dirt finds himself t...,...,0.0,107.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Go Hick Yourself,Joe Dirt 2: Beautiful Loser,False,4.3,45.0,4.993793
4975,False,NaN,12000000,"[{'id': 28, 'name': 'Action'}, {'id': 12, 'nam...",NaN,17130,tt0275022,en,Crossroads,Three friends get together and bury a box maki...,...,61141030.0,93.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,Dreams change. Friends are forever,Crossroads,False,4.7,161.0,4.917585
19204,False,"{'id': 105995, 'name': 'Anaconda Collection', ...",0,"[{'id': 28, 'name': 'Action'}, {'id': 27, 'nam...",NaN,14863,tt1137996,en,Anaconda 3: Offspring,Cancer-terminal tycoon Peter Murdoch's secret ...,...,0.0,91.0,"[{'iso_639_1': 'en', 'name': 'English'}]",Released,They Can Taste Your Fear,Anaconda 3: Offspring,False,4.0,48.0,4.825616

In [126]:
top_25_filmes = df_ordenado_decrescente[['title', 'vote_count', 'vote_average', 'score', 'runtime']].head(25)
top_25_filmes

,title,vote_count,vote_average,score,runtime
2843,Fight Club,9678.0,8.3,8.286216,139.0
24982,The Theory of Everything,3403.0,7.8,7.768407,123.0
1338,Jaws,2628.0,7.5,7.464866,124.0
24202,Who Am I,430.0,7.6,7.393563,105.0
28527,"McFarland, USA",216.0,7.4,7.065077,128.0
3147,Hard Boiled,169.0,7.4,6.993198,126.0
32397,Puella Magi Madoka Magica the Movie Part I: Be...,31.0,7.8,6.453214,131.0
8843,A Christmas Carol,42.0,7.1,6.294678,100.0
18333,Pariah,33.0,7.0,6.167595,86.0
22012,Muscle Shoals,26.0,7.2,6.159347,111.0
16682,Elizabeth I,26.0,7.1,6.125136,223.0
5491,Wasabi,288.0,6.2,6.113936,94.0
1556,The Assignment,41.0,6.6,6.060553,119.0
6719,Wonderland,73.0,6.2,5.963499,104.0
9415,Ginger Snaps 2: Unleashed,72.0,6.2,5.961560,94.0
42293,iBoy,315.0,6.0,5.947700,90.0
38796,The Eyes of My Mother,93.0,6.1,5.931541,76.0
7167,Dirty Dancing: Havana Nights,154.0,6.0,5.906423,86.0
5388,Rollerball,115.0,6.0,5.884305,125.0
2767,Mumford,27.0,6.3,5.857277,112.0
6648,Bugsy,83.0,6.0,5.856469,134.0
2405,Night Shift,46.0,5.9,5.753233,106.0
8969,Guilty by Suspicion,29.0,5.9,5.721650,100.0
22630,Banshee Chapter,93.0,5.7,5.671401,87.0
11792,Maniac Cop,87.0,5.7,5.670149,85.0