# Avaliação de Restaurantes
- restaurante_id: ID numérico do restaurante.
- nota: Nota dada ao restaurante por um cliente (de 1 a 5).
- preco_medio: Preço médio do menu por pessoa em reais.
- num_avaliacoes: Número de avaliações que o restaurante recebeu.

## Análise de dados - Dataset

In [ ]:
url <- read.csv('avaliacao_restaurantes.csv')

In [ ]:
url

    restaurante_id nota preco_medio num_avaliacoes
1    1              4    70         199
2    2              5    50         456
3    3              4    70         275
4    4              4    NA         349
5    5              4    50          44
6    6             NA    70          84
7    7              4    70         434
8    8              5    70         298
9    9             NA    50          94
10  10              3   110         175
11  11              5    50         406
12  12              4    90         202
13  13              4    70         346
14  14             NA    50         499
15  15             NA    NA         481
16  16              2    50         476
17  17              1    90         330
18  18              5    70          29
19  19              5    90         492
20  20              5    NA         210
21  21             NA    70         106
22  22             NA    70         443
23  23              4   110         385
24  24              5    70         471
25  25              2    50          64
26  26              4    NA          17
27  27              2    30         107
28  28             NA    50         165
29  29              4    70          95
30  30              4    50          25
⋮   ⋮              ⋮    ⋮           ⋮
71   71            NA    70         457
72   72             4    30          62
73   73            NA    30         142
74   74             4    30           6
75   75            NA    90         257
76   76             1    50         137
77   77             3    NA         208
78   78            NA   110         464
79   79             3    70         438
80   80             2    30         140
81   81             3    30           5
82   82             4    70         424
83   83             2    70         349
84   84             4    50         430
85   85             4   110         283
86   86             3    70          75
87   87             4    70         309
88   88             2    NA         495
89   89             4    70         434
90   90            NA    50         220
91   91             3    NA         308
92   92             4    NA         228
93   93             2    30         362
94   94             5   110         275
95   95             3    70         374
96   96             3    70         291
97   97             4    50          52
98   98             1    50         159
99   99             5    30         438
100 100             1    50         315

In [ ]:
#Leitura das 18 primeiras linhas do Dataframe
head(url, 18)

   restaurante_id nota preco_medio num_avaliacoes
1   1              4    70         199
2   2              5    50         456
3   3              4    70         275
4   4              4    NA         349
5   5              4    50          44
6   6             NA    70          84
7   7              4    70         434
8   8              5    70         298
9   9             NA    50          94
10 10              3   110         175
11 11              5    50         406
12 12              4    90         202
13 13              4    70         346
14 14             NA    50         499
15 15             NA    NA         481
16 16              2    50         476
17 17              1    90         330
18 18              5    70          29

In [ ]:
#Visualização da estrutura do DataFrame, incluindo as colunas e os tipos de dados
str(url)

'data.frame':	100 obs. of  4 variables:
 $ restaurante_id: int  1 2 3 4 5 6 7 8 9 10 ...
 $ nota          : num  4 5 4 4 4 NA 4 5 NA 3 ...
 $ preco_medio   : num  70 50 70 NA 50 70 70 70 50 110 ...
 $ num_avaliacoes: int  199 456 275 349 44 84 434 298 94 175 ...

In [ ]:
#Sumário estatístico das colunas numéricas
summary(url)

 restaurante_id        nota        preco_medio     num_avaliacoes
 Min.   :  1.00   Min.   :1.000   Min.   : 30.00   Min.   :  5.0
 1st Qu.: 25.75   1st Qu.:3.000   1st Qu.: 50.00   1st Qu.:132.2
 Median : 50.50   Median :4.000   Median : 70.00   Median :275.0
 Mean   : 50.50   Mean   :3.458   Mean   : 64.22   Mean   :258.2
 3rd Qu.: 75.25   3rd Qu.:4.000   3rd Qu.: 70.00   3rd Qu.:381.2
 Max.   :100.00   Max.   :5.000   Max.   :110.00   Max.   :499.0
                  NA's   :17      NA's   :10

In [ ]:
#Colunas do Dataframe
names(url)

[1] "restaurante_id" "nota"           "preco_medio"    "num_avaliacoes"

In [ ]:
names(url)[1]

[1] "restaurante_id"

## Renomeando coluna

In [ ]:
names(url)[2] <- "nota_consumidor"

In [ ]:
names(url)

[1] "restaurante_id"  "nota_consumidor" "preco_medio"     "num_avaliacoes"

In [ ]:
#Alterar a coluna "nota_consumidor" [2] e a coluna 'num_avaliacoes' [4]
#Para "nota_consumidor_atual" e 'num_avaliacoes_recente'
names(url)[c(2,4)] <- c("nota_consumidor_atual", "num_avaliacoes_recente")

In [ ]:
names(url)

[1] "restaurante_id"         "nota_consumidor_atual"  "preco_medio"
[4] "num_avaliacoes_recente"

In [ ]:
#Obter o número de linhas e colunas (dimensões do DataFrame)
dim(url)

[1] 100   4

In [ ]:
#Soma de todos os NA no DataFrame
sum(is.na(url))

[1] 27

In [ ]:
#Média da nota_consumidor_atual
media_notas <- mean(url$nota_consumidor_atual, na.rm=TRUE)
media_notas

[1] 3.457831

In [ ]:
# Soma de todas os num_avaliacoes
soma_avaliacoes <- sum(url$num_avaliacoes_recente)
soma_avaliacoes

[1] 25816

In [ ]:
#Variância da nota
variancia_nota <- var(url$nota_consumidor_atual, na.rm=TRUE)
variancia_nota

[1] 1.153688